
@include brand(#b4bb1d,#fdb815,darken(#b4bb1d,10),trifexis);
@include brand(#0066B3,#F9E400,darken(#0066B3,10),interceptorplus);
@include brand(#0067b2,#809fd8,darken(#0067b2,10),ift);




* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}

body {
  background:url('../../resources/img/bg.png')no-repeat bottom center;
  background-size: cover;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

.content {
  .resources {
    padding: 0;
    margin: 0;
    .button{
      width:100%;
    }
  }
}

.button {
      border: 1px solid $blue;
    background-color: transparent;
    color: $blue;
    font-weight: 500;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    cursor: pointer;
    font-family: "fira-sans", sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 2rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1.6rem 3.2rem 1.7rem 3.2rem;
    font-size: 1.3rem;
    transition: background-color 300ms ease-out;
    margin:3em 0;
    &:hover {
      color:$blue;
    }

}

.center {
  text-align: center;
  * {
    text-align: center !important;
  }
  
}

.inline-cta {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

div[class*="col-"]{
  margin-bottom: 2em;
  @include viewport(sm){
    margin-bottom: 0;
  }
}



/* MAIN */

.brand {
  .button {
    margin-top: 0;
  }
  section {
    &.blue {
      text-align:left;
      
      p {
        font-size: 16px;

      }
    }
  }
}

section {
  position: relative;
  .background {
    background: url("../../resources/img/blue-upper-left-bg.svg") no-repeat left top;
    background-size: contain;
    margin: 0;
    position: absolute;
    left: 0%;
    top: 0;
    color: white;
    font-weight: 300;
    margin: 0;
    font-size: 1.2rem;
    padding: 1rem 3rem 3rem 1rem;
    width:30%;
    height:30%;
    @include opacity(.4);
    &.green {
    background:  url('../../resources/img/green-lower-right-bg.svg') no-repeat right bottom;
    left:auto;
    top:auto;
    right:0;
    bottom:0;
    }
  }
  padding:4em 2em;
  @include viewport(md){
    padding:4em 0;
  }
  &.content {
    padding:8em 2em;
    @include viewport(md){
      padding:8em 0;
    }
  }
  &.callout {
    padding:6em 2em;
    text-align: center;
    @include viewport(md){
      padding:10em 0
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        border-bottom: solid 1px rgba(white,.4);
        text-align: center;
        font-size: 16px;
        height:150px;
        padding-top:2em;
        padding-bottom:2em;
        display: table;
        .li-content {
          display: table-cell;
          vertical-align:middle;
        }
        @include viewport(sm){
          border-bottom: 0;
          border-right: solid 1px rgba(white,.4);
          margin-left:-1px;
        }
        &:last-child {
          border: 0;
        }
        &:first-child {
          border-left:0;
        }
      }
    }

  }
  &.grey {
    background: grey;
  }
  &.teal {
    background: $teal;
    * {
      color:white;
    }
  }

  &.blue {
      text-align: center;
    
    .button {
      border:solid 1px white;
    }
    
    
     
    background: $blue;
    * {
      color:white;
    }
    p {
      font-size: 3em;
    }
  }
  &.light-blue {
    background: $light-blue;
    .button {
        color: white;
        border-color: white;
        margin-top: 2rem;
        text-transform: none;
        font-style: normal;
    }
  }
    
}

.brand {
  .hero {
    height:300px;
    @include viewport(sm){
    height:400px;

    }
    @include viewport(md){
      height:600px;
    }
  }
  section.callout {
    padding:6em 0;
  }
  section.content.background {
    padding:0;
    .section {
      &:nth-child(even){
        background:#F9F9F9;
      }
      padding:6em 2em;
      @include viewport(md){
        padding:8em 0;
      }
      
    }
  }
  
  .button {
      margin-bottom: 0;
    }
  background: none;
  .inline-cta {
    text-align: center;
    
  }
  .button-row {
    a {
      width:100%;
    }
  }
}




  .hero {
    background-image: url(../../resources/img/general.jpg)
  }


.hero {
  padding:8em 2em 10em;
  text-align: center;
  background-size: cover;
  background-position: center;
  @include viewport(md){
    padding:15em 0 20em;
  }
}

.wrap {
  max-width: 940px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-row {
  h4 {
    text-align: center;
  }
}
/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}


