.mainnav {
@include transition(all .5s);
	ul{
		float:right;
		li {
			float:left;
			a {
				padding:1em;
			}
		}
	}
}




footer {
  padding: 3em 0;
  background-color: #f0f0f0;
  color: #707070;
  h4 {
  	color:#707070;
  }
  p {
  	font-size: 12px;
  }

}
 