body,html {
  color: $primary;
    background-color: #fff;
    cursor: auto;
    font-family: $heading;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 55.5%;
    @include viewport (sm){
      font-size: 65.5%;
    }
    @include viewport (md){
      font-size: 75.5%;
    }
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  margin:0 0 1em;
  color: #222222;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility;
}

h3,h4,h5 {
  font-family: $body;
}

h2 {
    font-weight: 100;
    font-style: oblique;
    padding-bottom: 2.0rem;
    font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h3 {
  font-size: 2.7rem;
}

h1 {
  color: $blue;
    font-style: oblique;
    font-size: 3rem;
    &.heading {
      font-weight: normal;
      line-height: 1.6;
    }
}

.blue,.teal {
  h1 {
    color:white;
  }
}


.hero {
  h1 {
    font-size: 50px;
    color:white;
    @include viewport (sm){
      font-size: 65px
    }
  }
}

/* PARAGRAPH */

p,li {
      font-family: $body;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.6;
}

p {
    margin-bottom: 1em;
 
}

a {
  color:$secondary;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited,&:active {
    color:$secondary;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}


.content {
  ul {
    list-style-type: disc;
    margin:1em 0;
    padding:0 0 0 30px;
  }
}
