// COLOR PALETTE
$primary: #666666;
$secondary: #0072ce;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;
$light-blue:#CCE3F5;
$blue:#0072ce;
$teal:#00ab9c;

// FONT STACKS
$heading: 'Fira Sans', sans-serif;
$body: "adelle";

$ipy: #ffe500;
$ipb: #0066b3;
$iplb: #889fd0;

$trifexiso:#ee2f26;
$trifexisg:#b3bc1e; 
